@CHARSET "UTF-8";

.ui-widget, .ui-widget .ui-widget {
	font-size: 100%;
}

#geral {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

#topo {
	padding-bottom: 5px;
}

#menu {
	background-color: #ffffff;
	height: 600px;
	width: 200px;
	float: left;
}

#conteudo {
	padding-left: 205px;
	width: 995px;
}